

      <h1><span>☣</span></h1>
      <div class="sidebarOption active">
       
        <a href="/">
        <h2>HELL!</h2></a>
      </div>

      <div class="sidebarOption">
      
        <a href="/profile">
        <h2>Profile</h2></a>
      </div>

      <button class="sidebar__tweet" href="/login">Login</button>
    </div>
    <!-- sidebar ends -->
    

    <!-- feed starts -->
    <div class="feed">
      <div class="feed__header">
        <h1>WHY ARE YOU HERE!? DUMBASS!! <span>&#9763;</span></h1>
      </div>
    

      <!-- tweetbox starts -->
    <div class="tweetBox">
  <form id="new-post-form" class="card-body">

    <div class="tweetbox__input">
      <label class="form-label" for="post-title">Title</label>
      <input type="text" name="post-title" class="form-input" placeholder="☣ " />

      <label class="form-label" for="post-body">Content</label>

      <input
        name="post-body"
        class="form-input"
        type="text"
        placeholder="What's your problem!? ☣ "
      />
    </div>
    <button type="submit" class="tweetBox__tweetButton">SAY IT!</button>

    <button class="button" id="runaway_btn">TRASH IT!</button>
  </form>
</div>



      <!-- post starts -->
      <div class="post">
        <div class="post__avatar">
          <img
            src="./assets/images/user.jpg"
            alt=""
          />
        </div>

        <div class="post__body">
          <div class="post__header">
            <div class="post__headerText">
              <h1>
            {{username}}
                <span class="post__headerSpecial"
                  ><span class="material-icons post__badge"> TOXINBOARD </span>{{username}}</span
                >
              </h1>
            </div>
            
          </div>
          <img
            src="./assets/images/image.jpg"
            alt=""
          />
       
{{!-- <div class="posts">
  {{#each posts}}
  <article class="card">
    <div class="card-header flex-row justify-space-between">
      <h2>
        <a href="/profile/edit/{{id}}">{{title}}</a>
      </h2>
      <div>
        Posted by {{User.username}} on {{format_date createdAt}}
      </div>
    </div>
    <div class="card-body">
      {{body}}
    </div>
  </article>
  {{/each}}
</div>
          --}}
        </div>
      </div>
      <!-- post ends -->
    </div>
    <!-- feed ends -->

    <!-- widgets starts -->
    <div class="widgets">
      <div class="widgets__input">
        <span class="material-icons widgets__searchIcon"></span>
        <input type="text" placeholder="Search Toxins" />
      </div>

    
    </div>
    <!-- widgets ends -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="/js/new.js"></script>

